 
<a class="back-to-top cd-top cd-is-visible" href="/admin/regStudent"><span class="[ fa fa fa-user ]"></span> <span class="[ ]">Register Student</span></a>
      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>